<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/style.css">    
    <title>Contato</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="app" class="container">
                    <table id="customers">
                        <tr>
                          <th>ID</th>
                          <th>Contact</th>                          
                        </tr>                       
                        <% for(let i=0; i<person.length; i++) { %>
                            <tr>
                                <td><%= person[i].ID %> </td>
                                <td><%= person[i].NOME %> </td>
                            </tr>
                        <% } %>                        
                      </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>